

.bubble.crazybub {
	background: url('bubb3.gif_c200')no-reapeat top left;
}
.bubble.sparkle {
	background: url('crazybub.gif') no-reapeat top left;
}
.bubble.multibub {
	background: url('crazybub1.gif')no-reapeat top left;
}