body {
	background-image: url('beerbubs.jpeg');
	background-size: cover;	
	background-repeat: no-repeat;
	 overflow-x: hidden; 
    overflow-y: auto;
   
}
.score {
	display: block;
    position: relative;
    top: 10px;
    left: 10px; 
    font-family: 'Bungee', cursive;
}
.time {
	display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.start{
	text-align: center;
	margin-left: 45%;
	margin-right: 45%;
}
#board {
	top: -4100px;
	height: 100vh;
	width: 90vw;
	position: relative;
	margin: 0 10% 0 10%;
}
.dropbox {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.bubble {
	position: relative;
    max-height: 15%;
}
.bubble.start {
	animation-name: float;
    animation-duration: 20s;
    position: relative;
    max-height: 15%;
}
#bubble1 {
	left: 0;
	height: 5%;
}
#bubble2 {
	left: 0;
	height: 7%;

}
#bubble3 {
	left: 0;
	height: 10%;
}
#bubble4 {
	left: 0;
	height: 10%;
}
#bubble5 {
	left: 0;
	height: 10%;
}
#bubble6 {
	left: 0;
	height: 10%;
}
#bubble7 {
	left: 0;
	height: 5%;
}
#bubble8 {
	left: 0;
	height: 7%;

}
#bubble9 {
	left: 0;
	height: 10%;
}
#bubble10 {
	left: 0;
	height: 10%;
}
#bubble11 {
	left: 0;
	height: 10%;
}
#bubble12 {
	left: 0;
	height: 10%;
}
#bubble13 {
	left: 0;
	height: 5%;
}
#bubble14 {
	left: 0;
	height: 7%;

}
#bubble15 {
	left: 0;
	height: 10%;
}
#bubble16 {
	left: 0;
	height: 10%;
}
#bubble17 {
	left: 0;
	height: 10%;
}
#bubble18 {
	left: 0;
	height: 10%;
}
#bubble19 {
	left: 0;
	height: 5%;
}
#bubble20 {
	left: 0;
	height: 7%;

}
#bubble21 {
	left: 0;
	height: 10%;
}
#bubble22 {
	left: 0;
	height: 10%;
}
#bubble23 {
	left: 0;
	height: 10%;
}
#bubble24 {
	left: 0;
	height: 10%;
}
@keyframes float {
    0%   {top:0; left:0%; right:0%;}
    5%	 {top:25%;}
    15%  {top:100%; left:10%; right:0%;}
    30%  {top:275%; left:0%; right:10%;}
    45%  {top:325%; left:10%; right:0%;}
    60%  {top:400%; left:0%; right:10%;}
    75%  {top:575%; left:10%; right:0%;}
    100% {top:625%; left:0%; right:10%;}





