body {
	background-image: url('bw-bubble.jpeg');
	background-size: cover;	
	background-repeat: no-repeat;
}
#board {
	height: 100vh;
	width: 75vw;
	position: absolute;
	background-color: rgba(192,192,192,0.7);
	margin: 0 10% 0 10%;
}
.dropbox {
	height: 10vh;
	width: 100vw;
	position: absolute;
	display: inline-block;
	background-color: rgba(192,192,192,0.7);
}
.bubble {
}
#bubble1 {
	left: 0;
	height: 5%;
	flex-direction: row;

}
#bubble2 {
	left: 20;
	height: 7%;
	flex-direction: row;
}
#bubble3 {
	left: 0;
	height: 10%;
	flex-direction: row;
}
