body {
	background-image: url('bw-bubble.jpeg');
	background-size: cover;	
	background-repeat: no-repeat;
}
#canvas {
	height: 100%;
	width: auto;
	position: absolute;
}
.dropbox {
	height: 50px;
	width: 100vw;
	position: absolute;
	display: inline-block;
}
#bubble1 {
	height: 3em;
	position: absolute;

}
#bubble2 {
	height: 4em;
	position: absolute;
}
#bubble3 {
	height: 2em;
	position: absolute;
}
