body {
	background-image: url('bw-bubble.jpeg');
	background-size: cover;	
	background-repeat: no-repeat;
}
#board {
	height: 100vh;
	width: 75vw;
	position: absolute;
	background-color: rgba(192,192,192,0.7);
	margin: 0 10% 0 10%;
}
.dropbox {
	height: 10vh;
	width: 100vw;
	position: absolute;
	display: inline-block;
	background-color: rgba(192,192,192,0.7);
}
.bubble {
	animation-name: float;
    animation-duration: 9s;
    position: fixed;
}
#bubble1 {
	left: 0;
	height: 5%;
}
#bubble2 {
	left: 20;
	height: 7%;

}
#bubble3 {
	left: 0;
	height: 10%;
}
#bubble4 {
	left: 0;
	height: 10%;
}
#bubble5 {
	left: 0;
	height: 10%;
}
#bubble6 {
	left: 0;
	height: 10%;
}
@keyframes float {
    0%   {top:0%; left:0%; right:0%;}
    15%  {top:15%; left:10%; right:0%;}
    30%  {top:30%; left:0%; right:10%;}
    45%  {top:45%; left:10%; right:0%;}
    60%  {top:60%; left:0%; right:10%;}
    75%  {top:75%; left:10%; right:0%;}
    100% {top:100%; left:0%; right:10%;}