body {
	background: blue;
}
.canvas {
	width: 80%;
	height: 80%;
	background: url('bw-bubble.jpeg');
	background-size: 100%;
	background-attachment: fixed;
	margin-right: 10%;
	margin-left: 10%;
}
.gameBack {
	top: 0;
	height: 100vh
	width: 100vh;
	background: red;
}